h1 {
  text-align: center;
  color: green;
  font-family: Arial;
}
.belka{
  width: 980px;
  margin-left:190px;
  text-align: center;
  background: Dimgrey;
  border-radius: 10px;
  height: 35px;
}
#button{
  position: relative;
  top: 8px;
  color: #000000;
  background: Lightgrey;
  text-decoration: none;
  margin: 10px;
  padding: 3px 10px;
  border-radius: 10px;
}
.belka-button
{
  border: 3px solid #D3D3D3;
}
.belka-button:hover
{
  border: 5px solid #D3D3D3;
}
table.tabela
{
  width: 100%;
}
tr.banner{
  height: 180px;
}
td.photo{
  width: 87%;
  text-align: right;
  display: table-cell;
}
td.Wyloguj{
  vertical-align: top;
  width: 20%;
}
tr.TRbelka{
  height: 50px;
}
