<!DOCTYPE html>
<html>
<head>
  <title>ZOO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="banner">
	<img src="baner.jpg" alt="Ukradli nam baner">
</div>
<br>
<div class="menu">
<a class="menu-btn" href="/animals">Nasze zwierzęta</a> <a class="menu-btn" href="/">Strona główna</a>
</div>
<br>
<%= yield %>

</body>
</html>
